.welcome {
  text-align: center;
  border: 1px solid orange;
  padding: 5px;
  margin: 15px;
}

/*#images {
  position: relative;
  top: 80%;
  left: 20%;
  padding: 50px;
}*/

#button1 {
  text-align: center;
  border: 1px solid orange;
  position: absolute;
  top: 80%;
  left: 10%;
  width: 10%;
  font-size: 20px;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#button2 {
  text-align: center;
  border: 1px solid orange;
  position: absolute;
  top: 80%;
  left: 40%;
  width: 10%;
  font-size: 20px;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#button3 {
  text-align: center;
  border: 1px solid orange;
  position: absolute;
  top: 80%;
  left: 70%;
  width: 10%;
  font-size: 20px;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#img1 {
  display: block;
  position: absolute;
  top: 25%;
  left: 5%;
  width: 25vw;
  height: 40vh;
  visibility: hidden;
}

#display1 {
  visibility: hidden;
  top: 70%;
  left: 10%;
  text-align: center;
  background-color: blue;
  color: white;
  position: absolute;
  width: 10%;
  font-size: 20px;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#img2 {
  display: block;
  top: 25%;
  left: 35%;
  position: absolute;
  width: 25vw;
  height: 40vh;
  visibility: hidden;
}

#display2 {
  visibility: hidden;
  top: 70%;
  left: 40%;
  text-align: center;
  background-color: blue;
  color: white;
  position: absolute;
  width: 10%;
  font-size: 20px;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#img3 {
  display: block;
  top: 25%;
  left: 65%;
  position: absolute;
  width: 25vw;
  height: 40vh;
  visibility: hidden;
}

#display3 {
  visibility: hidden;
  top: 70%;
  left: 70%;
  text-align: center;
  background-color: blue;
  color: white;
  position: absolute;
  width: 10%;
  font-size: 20px;
  padding: 14px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
